{%extends 'myadmin/public/base.html' %}
{% block con-header %}
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>商品列表</div>
           
        </div>
        <div class="am-u-lg-3 tpl-index-settings-button">
            <button type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> 设置</button>
        </div>
    </div>

</div>
{%endblock%}



{% block con-body %}
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
               
                <div class="widget-body  am-fr">

                    <div class="am-u-sm-2 am-u-md-2 am-u-lg-2">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar" style="width:300px">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                  
                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="am-u-sm-4 am-u-md-4 am-u-lg-4">
                    <form>
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                               <input type="text" name="begin"  value="{{ request.GET.begin }}" style="width:100px;background: #444"> -
                               <input type="text" name="end" style="width:100px;background: #444" value="{{ request.GET.end }}">
                               <button>搜索</button>
                            </div>
                        </div>
                    </div>
                    </form>

                    <!-- 条件搜索 -->
                    <form>
                        <div class="am-u-sm-3 am-u-md-3 am-u-lg-2">
                            <div class="am-form-group tpl-table-list-select">
                                <select name="type" data-am-selected="{btnSize: 'sm'}" style="display: none;">
                                  <option{% if request.GET.type == 'all'  %} selected {% endif  %} value="all" >商品</option>
                                  
                                
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-3 am-u-md-3 am-u-lg-3">
                            <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                <input type="text" name="keywords" class="am-form-field " value="{{ request.GET.keywords }}" >
                                <span class="am-input-group-btn">
                                  <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"></button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <!-- 展示内容 -->
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                            <thead>
                                <tr>
                                    
                                    <th>商品缩略图</th>
                                    
                                    <th style="width:150px">商品标题</th>
                                  
                                    {%  load pagetag %}
                                    {% sorts request %}

                                  
                                    <th>库存</th>
                                    
                                    <th>购买量</th>
                                    <th>添加时间</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            	{% for v in ob %}
                                <tr class="gradeX">
                              
                                        <input type="hidden" class="vid" value="{{  v.id }}" style="width:1px;">

                             

                                    <td>
                                        <img src="{{ v.pic }}" class="tpl-table-line-img" alt="" style="width: 70px;height: 70px">
                                    </td>
                                    
                                    <td class="am-text-middle" style="width:50px">{{ v.title }}</td>
                                    <td class="am-text-middle">{{ v.price }}</td>
                                    <td class="am-text-middle">{{ v.storage }}</td>
                                 
                                    <td class="am-text-middle">{{ v.num }}</td>
                                    <td class="am-text-middle">{{ v.addtime|date:'Y-m-d ' }}</td>
                                    <td class="am-text-middle">
                                        <select uid="{{ v.id }}" class="user_status_save" style="color:#000">
                                            <option value="1" {% if v.status == 1 %} selected {% endif %}>新品</option>
                                            <option value="2" {% if v.status == 2 %} selected {% endif %}>热卖</option>
                                            <option value="3" {% if v.status == 3 %} selected {% endif %}>下架</option>
                                        </select>
                                    </td>
                                   
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="{% url 'admin_goods_edit' v.id %}">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a href="{% url 'admin_goods_del'  %}" class="tpl-table-black-operation-del">
                                                <i class="am-icon-trash"></i> 删除

                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            	{% endfor %}

                             
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">

                        <div class="am-fr">
                            <ul class="am-pagination tpl-pagination">
                               
                                  {%  load pagetag %}
                                  {% showpage ob.paginator.num_pages request %}

                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
// 状态修改 ajax
$(".user_status_save").change(function(){
	val=$(this).val()
    // 获取商品id
	uid=$(this).attr("uid")
	$.get('{%url "admin_goods_status"%}', {uid:uid,val:val})

})

// 删除
$(".tpl-table-black-operation-del").click(function(){
       
    a=$(this)
    gid=$(this).parents(".gradeX").find(".vid").val()
    console.log(gid)
    
    $.get('{%  url "admin_goods_del" %}',{"gid":gid},function(data){
        a.parents("tr").remove()
        alert(data["msg"])
    },"json")  
     return false;
})








</script>
{% endblock %}